<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393665999090-dkv160cmafjlpggnf81fc0fumg9hdigl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393665999090-dkv160cmafjlpggnf81fc0fumg9hdigl</string>
	<key>API_KEY</key>
	<string>AIzaSyAZKWSfox_12GlcNagUlXZXEYPHJStc_hw</string>
	<key>GCM_SENDER_ID</key>
	<string>393665999090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.usc.8989990664.AnguloRicardoFinalProject</string>
	<key>PROJECT_ID</key>
	<string>taskbox-1588402466230</string>
	<key>STORAGE_BUCKET</key>
	<string>taskbox-1588402466230.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393665999090:ios:d47c1bd442b7a4bcfb206b</string>
	<key>DATABASE_URL</key>
	<string>https://taskbox-1588402466230.firebaseio.com</string>
</dict>
</plist>